In [1]:
import pandas as pd

In [ ]:
#info containing latest version of projects
sql_proj_ver=pd.read_csv("../Data_Collection/SQL_project_versions.csv")
nsql_proj_ver= pd.read_csv("../Data_Collection/NoSQL_Project_versions.csv")
#raw datasets
sql=pd.read_csv("../Data_Collection/SQL_raw_dataset.csv")
nosql=pd.read_csv("../Data_Collection/NOSQL_raw_dataset.csv")

In [ ]:
sql.head()

In [ ]:
nosql.head()

In [ ]:
#Now for each project, get the list of versions,

def get_list_of_versions_per_project(project, proj_col_name, df):
    vers=df[df[proj_col_name]==project]["version"].tolist()
    vers= list(set(vers))
    vers=pd.DataFrame(vers)
    vers.columns=["version"]
    vers["project"]=project
    return vers
list_of_dfs.append(get_list_of_versions_per_project("adempiere_adempiere","project",sql))

In [ ]:
#get list of projects
sql_projects_list=sql_projs["Project"].tolist()
nsql_projects_list= nsql_projs["Project"].tolist()

In [ ]:
list_of_sql_dfs=[]
for proj in sql_projects_list:
    list_of_sql_dfs.append(get_list_of_versions_per_project(proj,"project",sql))
list_of_nsql_dfs=[]
for proj in nsql_projects_list:
    list_of_nsql_dfs.append(get_list_of_versions_per_project(proj,"project",nosql))
len(list_of_nsql_dfs)

In [ ]:
len(list_of_sql_dfs)

In [ ]:
rq1_sql_data=pd.concat(list_of_sql_dfs)
rq1_nosql_data=pd.concat(list_of_nsql_dfs)

In [ ]:
d=sql[(sql["project"]=="adempiere_adempiere") & (sql["version"]==1) & (sql["is_dac"])]
d.shape[0]

In [ ]:
#now compute the number of dac and non-dac for each version
def count_dac(row, df):
    d=df[(df["project"]==row.project) & (df["version"]==row.version) & (df["is_dac"])]
    return d.shape[0]

In [ ]:
rq1_sql_data["dac_count"]=rq1_sql_data.apply(count_dac, args=(sql,), axis=1)

In [ ]:
rq1_nosql_data["dac_count"]= rq1_nosql_data.apply(count_dac, args=(nosql,), axis=1)

In [ ]:
rq1_sql_data[(rq1_sql_data["project"]=="adempiere_adempiere") & (rq1_sql_data["version"]==3)]

In [ ]:
#now lets count not_dac
def count_nondac(row, df):
    d=df[(df["project"]==row.project) & (df["version"]==row.version) & (df["is_dac"]==False)]
    return d.shape[0]

In [ ]:
rq1_sql_data["non_dac_count"]=rq1_sql_data.apply(count_nondac, args=(sql,), axis=1)

In [ ]:
rq1_nosql_data["non_dac_count"]= rq1_nosql_data.apply(count_nondac, args=(nosql,), axis=1)

In [ ]:
rq1_sql_data.head()

In [ ]:
d=sql[(sql["project"]=="openl-tablets_openl-tablets") & (sql["version"]==3) & (sql["is_dac"]==False)]
d.shape[0]

In [ ]:
#save results to files
rq1_sql_data.to_csv("RQ1_SQL_Diffusion_dataset.csv", index=False)
rq1_nosql_data.to_csv("RQ1_NOSQL_Diffusion_dataset.csv", index=False)

In [ ]:
#done extracting data

In [8]:
# count summary based on the grouped data
sql_g1= pd.read_csv("sql_G1.csv")
nsql_g1=pd.read_csv("nosql_G1.csv")
sql_g2=pd.read_csv("sql_G2s.csv")
nsql_g2=pd.read_csv("Nosql_G2s.csv")
sql_g3=pd.read_csv("sql_G3s.csv")

In [4]:
sql_g1.tail(1)

,version,project,dac_count,non_dac_count,analysis_group,commit
71,3,rovo89_XposedInstaller,1,13,G1,1001

In [5]:
nsql_g1.head(1)

,version,project,dac_count,non_dac_count,analysis_group,commit
0,1,gisaia_ARLAS-server,1,12,G1,1

In [6]:
sql_g2.head(1)

   version          project  dac_count  non_dac_count analysis_group  commit
0        1  shroffk_phoebus          0            141             G2       1

In [30]:
nsql_g2[nsql_g2["commit"]==3001]

,version,project,dac_count,non_dac_count,analysis_group,commit,group
12,7,hazelcast_hazelcast-simulator,1,17,G2,3001,NoSQL
24,7,codelibs_fess,19,51,G2,3001,NoSQL

In [31]:
51+17

68

In [9]:
sql_g3.head(1)

,version,project,dac_count,non_dac_count,analysis_group,commit
0,1,openl-tablets_openl-tablets,0,232,G3,1

In [19]:
sql_g1["group"]="SQL"
nsql_g1["group"]="NoSQL"
g1=pd.concat([sql_g1, nsql_g1])

In [25]:
g1_summary=g1.groupby(by=["commit","group"])["dac_count","non_dac_count"].describe()

<ipython-input-25-37cb837fef7c>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  g1_summary=g1.groupby(by=["commit","group"])["dac_count","non_dac_count"].describe()

In [26]:
g1_summary.to_excel("g1_summary.xls")

In [28]:
sql_g2["group"]="SQL"
nsql_g2["group"]="NoSQL"
g2=pd.concat([sql_g2, nsql_g2])
g2_summary=g2.groupby(by=["commit","group"])["dac_count","non_dac_count"].describe()
g2_summary.to_excel("g2_summary.xls")

<ipython-input-28-54a606abcca5>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  g2_summary=g2.groupby(by=["commit","group"])["dac_count","non_dac_count"].describe()

In [29]:
sql_g3["group"]="SQL"

g3_summary=sql_g3.groupby(by=["commit","group"])["dac_count","non_dac_count"].describe()
g3_summary.to_excel("g3_summary.xls")

<ipython-input-29-1da864bca289>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  g3_summary=sql_g3.groupby(by=["commit","group"])["dac_count","non_dac_count"].describe()

In [14]:
#Group 1, dac, non-dac for sql
print("SQL-g1-dac")
print(sql_g1["dac_count"].describe())
print("SQL-g1-Non-DAC")
print(sql_g1["non_dac_count"].describe())

SQL-g1-dac
count     72.000000
mean      24.736111
std       60.571920
min        0.000000
25%        0.750000
50%        2.000000
75%       14.250000
max      380.000000
Name: dac_count, dtype: float64
SQL-g1-Non-DAC
count     72.000000
mean      56.194444
std       78.043440
min        1.000000
25%       12.000000
50%       23.500000
75%       64.000000
max      412.000000
Name: non_dac_count, dtype: float64

In [15]:
print("NSQL-g1-dac")
print(nsql_g1["dac_count"].describe())
print("NSQL-g1-Non-DAC")
print(nsql_g1["non_dac_count"].describe())

NSQL-g1-dac
count     43.000000
mean      11.558140
std       23.722907
min        0.000000
25%        0.000000
50%        2.000000
75%       15.000000
max      129.000000
Name: dac_count, dtype: float64
NSQL-g1-Non-DAC
count     43.000000
mean      72.069767
std      110.260168
min        0.000000
25%        7.000000
50%       26.000000
75%       84.000000
max      477.000000
Name: non_dac_count, dtype: float64

In [16]:
#Group 2, dac non-dac, for sql
print("SQL-g2-dac")
print(sql_g2["dac_count"].describe())
print("SQL-g2-Non-DAC")
print(sql_g2["non_dac_count"].describe())

SQL-g2-dac
count    176.000000
mean      21.551136
std       78.659684
min        0.000000
25%        0.000000
50%        1.000000
75%        6.000000
max      588.000000
Name: dac_count, dtype: float64
SQL-g2-Non-DAC
count     176.000000
mean      126.585227
std       179.690094
min         1.000000
25%        24.000000
50%        47.000000
75%       179.250000
max      1015.000000
Name: non_dac_count, dtype: float64

In [17]:
#Group 2, dac non-dac, for Nsql
print("NSQL-g2-dac")
print(nsql_g2["dac_count"].describe())
print("NSQL-g2-Non-DAC")
print(nsql_g2["non_dac_count"].describe())

NSQL-g2-dac
count    25.000000
mean      7.400000
std      12.257651
min       0.000000
25%       0.000000
50%       3.000000
75%       8.000000
max      56.000000
Name: dac_count, dtype: float64
NSQL-g2-Non-DAC
count    25.000000
mean     28.440000
std      26.616223
min       0.000000
25%       6.000000
50%      20.000000
75%      46.000000
max      91.000000
Name: non_dac_count, dtype: float64

In [18]:
#Group 3, dac non-dac, for sql
print("SQL-g3-dac")
print(sql_g3["dac_count"].describe())
print("SQL-g3-Non-DAC")
print(sql_g3["non_dac_count"].describe())

SQL-g3-dac
count     53.000000
mean      27.905660
std       92.782057
min        0.000000
25%        0.000000
50%        0.000000
75%        8.000000
max      519.000000
Name: dac_count, dtype: float64
SQL-g3-Non-DAC
count      53.000000
mean      331.660377
std       454.131417
min         4.000000
25%        68.000000
50%       180.000000
75%       378.000000
max      2263.000000
Name: non_dac_count, dtype: float64